In [ ]:
this_year=2021
name=input('your name:')
age=int(input('age:'))
sex=input('your sex')
dep=input('your dep:')

message='''Information of the company staff:
         Name: %s
         Age : %s
         Sex : %s
         Dep : %s
         ''' %(name,age,sex,dep)

print(message)

In [ ]:
import sys

user="zu"
this_year=2021

while True:
    
name=input('your name:')
age=int(input('age:'))
sex=input('your sex')
dep=input('your dep:')

message='''Information of the company staff:
         Name: %s
         Age : %s
         Sex : %s
         Dep : %s
         ''' %(name,age,sex,dep)

print(message)

In [14]:
import os
import fileinput
f=open('contact_list.txt','a')
f.write('\n25')
f.write('\n26\tfish\tfish\t4000')
f.flush()
f.close()
read1=open('contact_list.txt')
contact=read1.read()
read1.close()
print(contact)

zuleimin father 1000
lunana mother 2000
zushaochen son 3000

25
25
26	fish	fish	4000
25
26	fish	fish	4000
25
26	fish	fish	4000
25
26	fish	fish	4000

1 * 1 = 1

1 * 2 = 2
2 * 2 = 4

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

In [16]:
import functions
functions.multiple_table()

1 * 1 = 1

1 * 2 = 2
2 * 2 = 4

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

In [15]:
import functions
functions.multiple_table()

1 * 1 = 1

1 * 2 = 2
2 * 2 = 4

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81